{% extends 'base.html'%}
{% block title %}Home page {% endblock title%}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <!-- Page Heading -->
    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-primary">Welcome to Our Company!</h1>
        <p class="lead text-secondary">We are glad to have you here. Explore our employee management options below.</p>
    </div>
    <!-- Buttons -->
    <div class="text-center">
        <div class="mb-3">
            <a href="{% url 'new_employee' %}" class="btn btn-lg btn-primary shadow">Add New Employee</a>
        </div>
        <div>
            <a href="{% url 'employees' %}" class="btn btn-lg btn-secondary shadow">View Employees</a>
        </div>
    </div>
</div>




{% endblock content %}